.page-shop{
  #main-content{
    .views-view-grid {
      .grid{
        float: left;
        width: 30%;
        margin: 5px 5px 5px 10px;
        padding: 20px;

        box-sizing: border-box;

        &:first-child {
          margin: 5px 5px 5px 5px;
        }

        .grid-inner {
          $views-field-boxshadow-half: 1px 1px #224982, 2px 2px #224982, 3px 3px 3px black;
          $views-field-boxshadow: 1px 1px #224982, 2px 2px #224982, 3px 3px #224982, 4px 4px #224982, 4px 4px 5px black;
          $views-field-boxshadow-red: 1px 1px #49030e, 2px 2px #49030e, 3px 3px #49030e, 4px 4px #49030e;
          $views-field-boxshadow-border: 1px 1px gray, 2px 2px gray, 3px 3px gray, 4px 4px gray;

          width: 100%;
          padding: 0;

          span {
            display: block;

            a {
              display: block;
              height: 50px;
              line-height: 25px;
              vertical-align: bottom;
            }
          }

          .views-field-view-node {
            position: relative;

            height: 40px;

            margin: 20px -21px -20px -25px;
            padding: 0 20px 0 20px;

            .field-content {
              float: right;
              width: 40%;
              height: 40px;
              background-color: silver;
              margin: 0 -20px 0 0;
              padding: 0 0 0 1px;
              @include box-shadow($views-field-boxshadow-border);

              a {
                display: block;
                height: 40px;

                margin: 0 0 -20px 0;
                padding: 0;

                border: none;
                box-shadow: none;

                font-family: Roboto Slab;
                font-weight: 300;
                font-size: 16px;
                line-height: 40px;

                color: white;
                text-shadow: none;

                text-align: center;
                vertical-align: middle;

                @include gradient-directional(#d62a38, #aa0406, 135deg);
                @include box-shadow($views-field-boxshadow-red);

                &:hover{
                  text-decoration: none;
                  color: white;
                  @include gradient-directional(#c32936, #930406, 135deg);
                }
                &:active{
                  text-decoration: none;
                  color: white;
                  @include gradient-directional(#ad252e, #840406, 135deg);
                }
                >.highlight{
                  font-weight: 700;
                  font-size: 1.2em;
                }
              }
            }

            @include box-shadow($views-field-boxshadow);

            &:before {
              position: absolute;
              content:"";
              width: 0;
              height: 0;
              border-right: 20px solid #247FBC;
              border-top: 20px solid transparent;
              margin: -15px 0 0 -10px;

              @include box-shadow($views-field-boxshadow-half);
            }
          }

          .views-field-commerce-price {
            position: relative;

            font-size: 18px;
            line-height: 40px;

            float: left;
            height: 40px;
            width: 60%;

            margin: -20px 0 -20px -25px;
            padding: 0 32px 0 10px;

            background-color: #247FBC;
            @include gradient-directional(#2585c3, #1f669b, 135deg);
          }

          .views-field-title{
            font-size: 16px;
            margin: 10px 0 0 0;

            a{
              color: white;
              &:hover{
                text-decoration: none;
              }
            }
          }

          .views-field-field-product-image {
            min-height: 220px;

            a {
              display: block;

              img{
                display: block;
                margin: auto;
                max-width: 220px !important;
                width: 100%;
                height: auto;
              }
            }
          }

          .views-field-add-to-cart-form{
            .commerce-add-to-cart {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 719px){
  #main-content{
    .views-view-grid {
      padding: 0 10px 0 10px !important;

      .grid{
        margin: 0 0 2em 0 !important;

        &:first-child {
          margin: 0 0 2em 0 !important;
        }
      }
    }
  }
}