.page-shop{
  #main-content{
    .grid{
      float: left;
      width: 30%;
      margin: 5px 5px 5px 10px;
      padding: 20px;

      box-sizing: border-box;

      &:first-child {
        margin: 5px 5px 5px 5px;
      }


      .grid-inner {
        $views-field-boxshadow-half: 1px 1px #2468A5, 2px 2px #2468A5, 3px 3px 3px black;
        $views-field-boxshadow: 1px 1px #2468A5, 2px 2px #2468A5, 3px 3px #2468A5, 4px 4px #2468A5, 4px 4px 5px black;
        $views-field-boxshadow-red: 1px 1px #49030e, 2px 2px #49030e, 3px 3px #49030e, 4px 4px #49030e;

        width: 100%;
        padding: 0;

        span {
          display: block;
        }


        .views-field-view-node {
          position: relative;
          font-size: 14px;
          line-height: 34px;
          text-align: right;

          height: 34px;

          margin: 30px -20px -20px -25px;
          padding: 10px 20px 10px 20px;

          background-color: #247FBC;


          a {
            display: block;
            float: right;
            margin: -10px -20px -20px -20px;
            padding: 10px 10px 11px 10px;
            background-color: #930406;
            color: #ffffff;
            @include box-shadow($views-field-boxshadow-red);
          }

          @include box-shadow($views-field-boxshadow);
        }

        .views-field-view-node:before {
          position: absolute;
          content:"";
          width: 0;
          height: 0;
          border-right: 20px solid #247FBC;
          border-top: 20px solid transparent;
          margin: -30px 0 0 -85%;

          @include box-shadow($views-field-boxshadow-half);
        }

        .views-field-commerce-price {
          position: absolute;

          font-size: 22px;
          line-height: 34px;

          float: left;
          height: 34px;

          margin: -34px 0 -20px -25px;
          padding: 10px 0 10px 20px;

          background-color: #247FBC;
        }


        .views-field-title{
          font-size: 16px;
          margin: 10px 0 0 0;

          a{
            color: white;
            &:hover{
              text-decoration: none;
            }
          }
        }

        .views-field-field-product-image {
          min-height: 200px;

          a {
            display: block;

            img{
              display: block;
              margin: auto;
              max-width: 220px !important;
              width: 100%;
            }
          }
        }

        .views-field-add-to-cart-form{
          .commerce-add-to-cart {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}